<div class="content">

    <div class="post no-padding">
        <img src="lighthouse.jpg" alt="An image of a lighthouse during Sunset">
    </div>

    {{> resume}}


    <div id="links" class="post">
        <div class="post-content">
            <h2>Links:</h2>

            <div class="post-element">
                <!--- LinkedIn Embedded Profile --->
                <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="peter-lamontagne-5000"><a class="LI-simple-link" href='https://www.linkedin.com/in/peter-lamontagne-5000?trk=profile-badge'>LinkedIn</a></div>
            </div>
            <div class="post-element">
                
                <div class="github-card" data-user="peetypeet5000" data-theme="default" data-width="300a"></div>
                <script src="https://lab.lepture.com/github-cards/widget.js"></script>
            </div>

        
        </div>
    </div>

    <section id="projects">
        {{#each projects}}
            {{> projectCard}}
        {{/each}}
    </section>
    
</div>