<div class="content">

    <div id="resume" class="post">
        <div class="post-content-resume">
            <div class="resume-element">
                <h1>Peter LaMontagne</h1>
                <p>8995 Sw Sunstead Lane, Portland OR 97225 | peter@peterlamontagne.com | (503) - 853 - 4419</p>
            </div>


            <div class="resume-element">
                <h2>Skills</h2>
                <ul>
                    <li>Responsible, Professional, Quick learner and Problem Solver</li>
                    <li>Excellent Written and Verbal Communication</li>
                    <li>Experience in C++, C, HTML/CSS, JavaScript/Node.js, and Python</li>
                </ul>
            </div>

            <div class="resume-element">
                <h2>Education</h2>
                <p><b>Oregon State University</b><br>2019-Present (est. 2023)<br>GPA: 3.99<br>Computer Science - Computer Systems Option
                <br>Relevant Courses: Data Structures, Web Development, Software Engineering, Algorithms</p>
                <p><b>Beaverton High School</b><br>2015-2019, GPA: 4.0, 7 AP classes, AP Scholar with Distinction</p>
            </div>

            <div class="resume-element">
                <h2>Experience</h2>
                <div  class="no-margin">
                    <h5>3/20 – Present</h5>
                    <h4 class="no-margin">Helpdesk Student Consultant | CoSINe Helpdesk - Oregon State University</h4>
                </div>
                <p>Helped lead frontline IT support for various colleges in the University. Responsible 
                    for communicating with users and coworkers in a professional, accurate, and timely 
                    manner. Interacted withbackend systems, configured devices, investigated user issues, 
                    and wrote relevant documentation andlogs.</p>

                <div class="no-margin">
                    <h5>6/19 – 9/19</h5>
                    <h4 class="no-margin">Summer Camp Lead & Sportsplex Attendant | Mittleman Jewish Community Center</h4>
                </div>
                <p>Supervised and lead activities for primarily 8-10 year olds. Worked in teams of 2-3 to instruct
                    large groups of children, with individual attention when necessary. As sportsplex attendant, served as
                    representative for the MJCC and was responsible for checking in players, helping guests with concerns,
                    ensuring the safety of participants, and closing the facility.
                    </p>
                
                <div class="no-margin">
                    <h5>10/17 – 6/18</h5>
                    <h4 class="no-margin">Discovery Club Leader | Garden Home Rec Center - Tualatin Hills Parks & Recreation</h4>
                </div>
                <p>After school child care at the local rec center. Responsible for leading a group of 10+ children
                    alone or more when cooperating with co-workers. Ensured safety and happiness of children, and dealt
                    with concerns from parents.
                    </p>
            </div>
        <br><br><br>
        </div>

    </div>

    <div id="links" class="post">
        <div class="post-content">
            <h2>Links:</h2>

            <div class="post-element">
                <!--- LinkedIn Embedded Profile --->
                <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="peter-lamontagne-5000"><a class="LI-simple-link" href='https://www.linkedin.com/in/peter-lamontagne-5000?trk=profile-badge'>LinkedIn</a></div>
            </div>
            <div class="post-element">
                
                <div class="github-card" data-user="peetypeet5000" data-theme="medium" data-width="300a"></div>
                <script src="http://lab.lepture.com/github-cards/widget.js"></script>
            </div>

        
        </div>
    </div>

    <section id="projects">
        <div class="post">
            <h2>Project 1: This Website</h2>

            <div class="post-content">
                <img class="post-image" src="rpi.jpg" alt="Image of Raspberry Pi Server">
                <p class="post-text">This website is running on a Raspberry Pi Model 3b. It is currently set up using a 
                    reverse-proxy nginx server, as this made setting up the certificate much easier. Behind this proxy server 
                    is a node.js application that serves all the website content. This content is served and templated using 
                    express and handlebards, respectively. As the raspberry pi is sitting on my home network, a dynamic DNS needed 
                    to be setup. To achive this, I used the DDNS built into Google Domains, as that is where my domain was purchased. 
                    A script runs on the raspberry pi every hour to check if the IP address has changed and, if it did, it will update the 
                    Google DDNS server. 
                    <br><br>
                    See the codebase for this website in my GitHub repo <a href="https://github.com/peetypeet5000/personal-website">here.</a>
                </p>
            </div>
        </div>

        <div class="post">
            <h2>Project 2:</h2>

            <div class="post-content">
                <p class="post-text">Coming Soon!</p>
            </div>

        </div>
        
    </section>
    
</div>