<div class="content">

    <div class="post">
        <h2>Resume</h2>

        <div class="post-content-resume">
            <div class="resume-element">
                <h1>Peter LaMontagne</h1>
                <p>8995 Sw Sunstead Lane, Portland OR 97225 | peter@peterlamontagne.com | (503) - 853 - 4419</p>
            </div>


            <div class="resume-element">
                <h3>Skills</h3>
                <ul>
                    <li>Responsible, Professional, Quick learner and Problem Solver</li>
                    <li>Excellent Written and Verbal Communication</li>
                    <li>Experience in C++, C, HTML/CSS, JavaScript/Node.js, and Python</li>
                </ul>
            </div>

            <div class="resume-element">
                <h3>Education</h3>
                <p><b>Oregon State University</b><br>2019-Present (est. 2023)<br>GPA: 3.99<br>Computer Science - Computer Systems Option
                <br>Relevant Courses: Data Structures, Web Development, Software Engineering, Algorithms</p>
                <p><b>Beaverton High School</b><br>2015-2019, GPA: 4.0, 7 AP classes, AP Scholar with Distinction</p>
            </div>

            <div class="resume-element">
                <h3>Experience</h3>
                <div  class="no-margin">
                    <h5>3/20 – Present</h5>
                    <h4 class="no-margin">Helpdesk Student Consultant | CoSINe Helpdesk - Oregon State University</h4>
                </div>
                <p>Helped lead frontline IT support for various colleges in the University. Responsible 
                    for communicating with users and coworkers in a professional, accurate, and timely 
                    manner. Interacted withbackend systems, configured devices, investigated user issues, 
                    and wrote relevant documentation andlogs.</p>

                <div class="no-margin">
                    <h5>6/19 – 9/19</h5>
                    <h4 class="no-margin">Summer Camp Lead & Sportsplex Attendant | Mittleman Jewish Community Center</h4>
                </div>
                <p>Supervised and lead activities for primarily 8-10 year olds. Worked in teams of 2-3 to instruct
                    large groups of children, with individual attention when necessary. As sportsplex attendant, served as
                    representative for the MJCC and was responsible for checking in players, helping guests with concerns,
                    ensuring the safety of participants, and closing the facility.
                    </p>
                
                <div class="no-margin">
                    <h5>10/17 – 6/18</h5>
                    <h4 class="no-margin">Discovery Club Leader | Garden Home Rec Center - Tualatin Hills Parks & Recreation</h4>
                </div>
                <p>After school child care at the local rec center. Responsible for leading a group of 10+ children
                    alone or more when cooperating with co-workers. Ensured safety and happiness of children, and dealt
                    with concerns from parents.
                    </p>
        </div>
        <br><br><br>
    </div>
</div>