<div class="content">
    <div class="post">
        <h2>Basic Info:</h2>
        <div class="post-content">
            <ul>
                <li><strong>Email:</strong> lamontap@oregonstate.edu</li>
                <li><strong>Major:</strong> Computer Science - Computer Systems</li>
                <li><strong>Year:</strong> Sophmore</li>

            </ul>
        </div>
    </div>

    <div class="post">
        <h2>Site Under Construction</h2>

        <div class="post-content">
            Please check back soon.
        </div>
    </div>
</div>