<div class="content">
    <div class="post">
        <h2>Project 1: This Website</h2>

        <div class="post-content">
            <img class="post-image" src="rpi.jpg" alt="Image of Raspberry Pi Server">
            <p class="post-text">This website is running on a Raspberry Pi Model 3b. It is currently set up using a 
                reverse-proxy nginx server, as this made setting up the certificate much easier. Behind this proxy server 
                is a node.js application that serves all the website content. This content is served and templated using 
                express and handlebards, respectively. As the raspberry pi is sitting on my home network, a dynamic DNS needed 
                to be setup. To achive this, I used the DDNS built into Google Domains, as that is where my domain was purchased. 
                A script runs on the raspberry pi every hour to check if the IP address has changed and, if it did, it will update the 
                Google DDNS server. 
                <br><br>
                See the codebase for this website in my GitHub repo <a href="https://github.com/peetypeet5000/personal-website">here.</a>
            </p>
        </div>
    </div>

    <div class="post">
        <h2>Project 2:</h2>

        <div class="post-content">
            <p>Coming Soon!</p>
        </div>

    </div>

</div>