<div class="content">
    <div class="post">
        <h2>Project 1:</h2>

        <div class="post-content">
            <p>This is a paragraph</p>
        </div>
    </div>

    <div class="post">
        <h2>Project 2:</h2>

        <div class="post-content">
            <p>This is a paragraph</p>
        </div>

    </div>

</div>