/****COLORS*********************

Dark Base:
| elevation | overlay |   hex   |
| --------- | ------- | ------- |
|   00dp    |    0%   | #121212 |
|   01dp    |    5%   | #1e1e1e |
|   02dp    |    7%   | #222222 |
|   03dp    |    8%   | #242424 |
|   04dp    |    9%   | #272727 |
|   06dp    |   11%   | #2c2c2c |
|   08dp    |   12%   | #2e2e2e |
|   12dp    |   14%   | #333333 |
|   16dp    |   15%   | #343434 |
|   24dp    |   16%   | #383838


Color Theme:
#fe700e -- orange primary
#ff8f0f -- secondary


*****************************/
html {
    scroll-behavior: smooth;
}


header h1 {
    max-width: 1140px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    
} 

header {
    background-color: #333333;
    padding: 5px;
}

body {
    color: white;
    background-color: #121212;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

h5 {
    margin-bottom: 0;
}



#site-title {
    text-decoration: none;
}

/****NAV BAR*****/

#nav {
    background-color: #272727;
}


#nav li {
	float: left;
}


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	color: white;
    font-size: 1.5em;
    height: 60px;
}

#nav a:hover {
	background-color: #ff8f0f;
}


/***SITE CONTENT****/

.content img {
    max-width: 100%;
}

.link a {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin: 10px;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}


.link {
    margin: 10px;
    
}

.content ul {
    list-style-type: square;
}



/*** FLEX BOXES ***/


.blog-posts {
    display: flex;
    max-width: 1200px;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


.post {
    flex: 1 400px;
    box-shadow: 10px 10px 9px rgba(0,0,0,.5);
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    background-color: #222222;
    margin-bottom: 50px;
}

.no-padding {
    padding: 0px;
}

.post-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 80%;
}

.post-element {
    flex: 1 1 auto;
    padding: 10px;
}



.post-text {
    flex: 2 1 400px;
    padding: 10px;
}

.post-image {
    flex: 0 0 auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.post-content-resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 80%;
}



.resume-element {
    flex: 0 1 auto;
    padding: 10px;
}


.resume-element h1 {
    color: #fe700e;
}

.resume-element h4 {
    
    color: #ff8f0f;
}


.resume-element h2 {
    color: #fe700e; 
}


.resume-photo {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.post-content a {
    color: #ff8f0f;
}


.post-content h2 {
    padding-right: 10px;
}

.post h2 {
    margin-top: 5px;
}




/****OTHER***/

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}


.error-page {
    width: 800px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.5em;
}

