header h1 {
    width: 1000px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    
} 

header {
    background-color: #f06292;
    padding: 5px;
}

body {
    color: black;
    background-color: white;
    font-family: "Roboto";
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


#site-title {
    text-decoration: none;
}

/****NAV BAR*****/

#nav li {
	float: left;
}


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ba2d65;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	color: white;
    font-size: 1.5em;
    height: 60px;
}

#nav a:hover {
	background-color: lightcoral;
}


/***SITE CONTENT****/
.link a {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin: 10px;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.link {
    margin: 10px;
    
}


.blog-posts {
    display: flex;
    max-width: 1200px;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


.post {
    flex: 1 400px;
    box-shadow: 10px 10px 9px rgba(0,0,0,.5);
    padding: 10px;
    border: 3px solid lightpink;
    margin: 20px;
    background-color: #f7f3f5;
    color: black;
}

.post-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    width: 80%;
}


.post-element {
    flex: 1 400px;
    padding: 10px;
}

.post-image {
    flex: 1 200px;
    padding: 10px;
    max-width: 200px;
}



.post-content a {
    color: #ba2d65;
}

.post h2 {
    margin-top: 5px;
    color: #ba2d65;
}


.error-page {
    width: 800px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.5em;
}

